django_secret_key                   #   For internal crypographic
REMOVE_SERVICE_MODE                 #   Deactivate Service mode middleware
PROJECT_BASE_URL                    #   Fully uri domain url with trailing slash 